{{ IdEmployee }}
<p-toast position="center" key="ce" />
<div class="card">
  <div class="container-fluid mt-2">
    
    <div class="row g-2">
        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Area</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-select   [options]="CorporateInformation.Areas" 
                                [(ngModel)]="CorporateInformation.SelectedArea" 
                                (onChange)="SetPositions();"
                                optionLabel="Label" placeholder="Select an Area" />
                </div>
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    @if(CorporateInformation.ShowAreaError)
                    {
                        <p-message severity="warn">
                            <ul>
                                <li>Select an Area</li>
                            </ul>
                        </p-message>
                    }
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Position</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-select   [options]="CorporateInformation.Positions" 
                                [(ngModel)]="CorporateInformation.SelectedPosition" 
                                (onChange)="GetSalary(1)"
                                optionLabel="Label" placeholder="Select a Position" />
                </div>
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    @if(CorporateInformation.ShowPositionError)
                    {
                        <p-message severity="warn">
                            <ul>
                                <li>Select a Position</li>
                            </ul>
                        </p-message>
                    }
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Seniority</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-select   [options]="CorporateInformation.Seniorities" 
                                [(ngModel)]="CorporateInformation.SelectedSeniority" 
                                (onChange)="GetSalary(2)"
                                optionLabel="Label" placeholder="Select a Seniority" /> 
                </div>
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    @if(CorporateInformation.ShowSeniorityError)
                    {
                        <p-message severity="warn">
                            <ul>
                                <li>Select a Seniority</li>
                            </ul>
                        </p-message>
                    }
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Salary</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <input type="text" pInputText readonly disabled="true" [(ngModel)]="CorporateInformation.Salary"/>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Start Date</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-datepicker   [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="yy-mm-dd" 
                                    [(ngModel)]="CorporateInformation.StartDate"/>
                </div>
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    @if(CorporateInformation.ShowStartDateError)
                    {
                        <p-message severity="warn">
                            <ul>
                                <li>Select a Start Date</li>
                            </ul>
                        </p-message>
                    }
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
           <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Has End Date</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-toggleswitch [(ngModel)]="CorporateInformation.HasEndDateChecked" 
                                    (onChange)="HasEndDateCheckedChange($event)" />
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">End Date</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-datepicker   [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="yy-mm-dd" 
                                    [disabled]="!CorporateInformation.EnableEndDate"
                                    [(ngModel)]="CorporateInformation.EndDate"/>
                </div>
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    @if(CorporateInformation.ShowEndDateError)
                    {
                        <p-message severity="warn">
                            <ul>
                                <li>Select a End Date</li>
                            </ul>
                        </p-message>
                    }
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">&nbsp;</div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Has Boss</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-toggleswitch  (onChange)="HasBossCheckedChange($event)"/>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="row g-2">
                <div class="col-12">
                    <span class="form-label">Boss</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    <p-select   [options]="CorporateInformation.BossList" 
                                [(ngModel)]="CorporateInformation.SelectedBoss" 
                                [disabled]="CorporateInformation.DisableBossDropdown"
                                optionLabel="Label" placeholder="Select a boss" /> 
                </div>
                <div class="col-12 col-xl-9 col-lg-9 col-md-10 col-sm-12">
                    @if(CorporateInformation.ShowBossError)
                    {
                        <p-message severity="warn">
                            <ul>
                                <li>Select a Boss</li>
                            </ul>
                        </p-message>
                    }
                </div>
            </div>
        </div>

        <div class="col-12">
            <p-button
                label="Save"
                severity="help"
                icon="pi pi-save"
                (onClick)="AddCorporateInformation()" />
        </div>
    </div>
</div>

<p-blockUI [blocked]="CorporateInformation.BlockedScreen">

    @if (CorporateInformation.BlockedScreen) {
        <div class="spinner-container">

            <p-progress-spinner
                strokeWidth="8"
                fill="transparent"
                animationDuration=".5s"
                [style]="{ width: '80px', height: '80px' }">
            </p-progress-spinner>

        </div>
    }

</p-blockUI>
