.tree-link {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.tree-link:visited {
  color: inherit;
}

.tree-link:focus {
  outline: none;
}

.tree-link:active {
  background: transparent;
}

.tree-link:hover {
  text-decoration: none;
}

.p-tree .p-tree-node-content {
  padding: 0.25rem 0;
}