<div class="card">

  <p-drawer
    *ngIf="visible"
    [(visible)]="visible"
    (onHide)="closeCallback()"
    [style]="{ width: '28rem', height: '100vh' }">

    <ng-template #headless>

      <div class="drawer-container">

        <!-- HEADER -->
        <div class="drawer-header">
          <p-button
            type="button"
            icon="pi pi-times"
            size="small"
            rounded
            outlined
            (click)="closeCallback()">
          </p-button>
        </div>

        <!-- SCROLLABLE CONTENT -->
        <div class="drawer-content">

          <p-tree [value]="files" class="w-full">

            <ng-template let-node pTemplate="default">

              <a *ngIf="node.data?.url"
                 [routerLink]="node.data.url"
                 routerLinkActive="active-link"
                 class="tree-link">
                {{ node.label }}
              </a>

              <span *ngIf="!node.data?.url"
                    class="tree-label">
                {{ node.label }}
              </span>

            </ng-template>

          </p-tree>

        </div>

        <!-- FOOTER -->
        <div class="drawer-footer">
          <a pRipple class="user-box">

            <p-avatar
              image="https://drive.google.com/uc?export=view&id=1TKUxRnEcD1Vk40uIc4Op06KHw0o0QTPN"
              shape="circle">
            </p-avatar>

            <span class="user-name">
              Gustavo Alzate
            </span>

          </a>
        </div>

      </div>

    </ng-template>

  </p-drawer>

</div>