@import "bootstrap/dist/css/bootstrap-grid.min.css";

html, body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.p-inputtext,
.p-dropdown,
.p-select {
  width: 100% !important;
}